<!-- Default home page -->
<div ng-controller="HomeController">
  <div class="jumbotron">
    <h1>GeneralHobby.com<small>Stock Checker</small></h1>
    <p class="lead">
      This site will scrape <a href="http://www.generalhobby.com" target="_blank">GeneralHobby.com</a> for all stock
      it will store this data in a SQLiteDB and populate the table below. Currently there are {{totalStock}} items
      in the database.
    </p>
    <p><a class="btn btn-lg btn-success" href="#" role="button" ng-click="build()">Load Stock</a></p>
  </div>

  <div class="row">
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="filter.soldOut">Show Sold Out Items</input>
      </label>

    </div>
  </div>

  <div class="row">
    <table ng-table="tableParams" class="table table-bordered table-striped table-condensed">
      <tr ng-repeat="row in $data track by $index">
        <td data-title="''">
          <a ng-href="{{row.pageUrl}}" target="_blank"><img class="productImg" ng-src="{{row.imageUrl}}" /></a>
        </td>
        <td data-title="'Name'" sortable="'name'"><span class="productName" ng-class="{'text-danger': row.soldOut, 'soldOut': row.soldOut}">{{row.name}}</span> <span class="text-danger" ng-show="row.soldOut"><strong>Sold out</strong></span></td>
        <td data-title="'Regular Price'" sortable="'regularPrice'">{{row.regularPrice | currency}}</td>
        <td data-title="'Special Price'" sortable="'specialPrice'">{{row.specialPrice | currency}}</td>
      </tr>
    </table>
  </div>
</div>
