<!-- Default home page -->
<div ng-controller="HomeController">
  <div class="jumbotron">
    <h1>Jumbotron heading</h1>
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>

    <div class="col-lg-6">
      <h4>Subheading</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Subheading</h4>
      <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

      <h4>Subheading</h4>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label>
        <input type="checkbox" ng-model="filter.soldOut">Show Sold Out Items</input>
      </label>

    </div>
  </div>

  <div class="row">
    <table ng-table="tableParams" class="table table-bordered table-striped table-condensed">
      <tr ng-repeat="row in $data track by $index">
        <td data-title="''">
          <a ng-href="{{row.pageUrl}}" target="_blank"><img class="productImg" ng-src="{{row.imageUrl}}" /></a>
        </td>
        <td data-title="'Name'" sortable="'name'"><span class="productName" ng-class="{'text-danger': row.soldOut, 'soldOut': row.soldOut}">{{row.name}}</span> <span class="text-danger" ng-show="row.soldOut"><strong>Sold out</strong></span></td>
        <td data-title="'Regular Price'" sortable="'regularPrice'">{{row.regularPrice | currency}}</td>
        <td data-title="'Special Price'" sortable="'specialPrice'">{{row.specialPrice | currency}}</td>
      </tr>
    </table>
  </div>
</div>
