<!doctype html>
<html ng-app="productApp" class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>General Hobby Stock Checker</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
	
	<!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/plugins.js -->
        <script src="../bower_components/bootstrap/js/affix.js"></script>
        <script src="../bower_components/bootstrap/js/alert.js"></script>
        <script src="../bower_components/bootstrap/js/dropdown.js"></script>
        <script src="../bower_components/bootstrap/js/tooltip.js"></script>
        <script src="../bower_components/bootstrap/js/modal.js"></script>
        <script src="../bower_components/bootstrap/js/transition.js"></script>
        <script src="../bower_components/bootstrap/js/button.js"></script>
        <script src="../bower_components/bootstrap/js/popover.js"></script>
        <script src="../bower_components/bootstrap/js/carousel.js"></script>
        <script src="../bower_components/bootstrap/js/scrollspy.js"></script>
        <script src="../bower_components/bootstrap/js/collapse.js"></script>
        <script src="../bower_components/bootstrap/js/tab.js"></script>
        <!-- endbuild -->

		<script src="scripts/data.json"></script>
		
        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
  </head>
  <body ng-controller="ProductsController">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div class="header">
        <h3 class="text-muted">General Hobby Stock Checker <a href="http://www.generalhobby.com" target="_blank" title="Go to General Hobby"><i class="fa fa-external-link"></i></a></h3>
      </div>

      <div class="jumbotron">
        <h1>What's In Stock?</h1>
        <p class="lead">Find out what you can spend your money on at GeneralHobby.com.</p>
      </div>
      
      
	  
	  <div ng-cloak ng-show="products">
		  <div class="panel panel-default">
			<div class="panel-heading">Filter</div>
			<div class="panel-body">
				<form class="form-inline">
					<div class="form-group">
						<input ng-model="productNameFilter" ng-change="filterChanged" type="text" class="form-control" placeholder="Product name" />
					</div>
					<div class="form-group" style="float: right;">
						<input type="radio" class="form-control" ng-model="sortReverse" ng-value="false">Ascending</input>
						<input type="radio" class="form-control" ng-model="sortReverse" ng-value="true">Descending</input>
					</div>
				</form>
			</div>
		  </div>
		  
		  <div>
			<b>Total:</b> {{filtered.length}}
		  </div>
		  
		  <table class="table table-striped">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>Product</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="product in filtered = (products | filter:filterList) | orderBy:orderProduct:sortReverse">
					<td>
						<a ng-href="{{product.pageUrl}}" target="_blank"><img class="productImage" ng-src="{{product.imageUrl}}" /></a>
					</td>
					<td>
						<a ng-href="{{product.pageUrl}}" target="_blank">{{product.name}}</a>
					</td>
					<td>
						<s ng-show="product.specialPrice">{{product.regularPrice}}</s>
						<span ng-show="product.specialPrice">{{product.specialPrice}}</span>
						<span ng-hide="product.specialPrice">{{product.regularPrice}}</span>
					</td>
				</tr>
			</tbody>
		  </table>
		  
		<div>
		<b>Total:</b> {{filtered.length}}
		</div>
	 </div>
	  
	<div ng-cloak ng-hide="products" class="noProducts">
		There are no products. Have you run <code>node index.js</code>?
	</div>

      <div class="footer">
        <p><i class="fa fa-heart" style="color: red;"></i> Mike G.</p>
      </div>
    </div>

    
</body>
</html>
